<footer class="base">
    <ul class="social-icons">
        <li>
            <a href="https://github.com/jimah" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://twitter.com/thisisjimah" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://medium.com/@thisisjimhill" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://www.instagram.com/jamesahill0/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/jim-hill" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="mailto:jim@dammitjim.co.uk"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </li>
    </ul>
</footer>