{{ define "title" }}
    {{ .Params.title }} - Jim Hill
{{ end }}
{{ define "jumbotron" }}
    {{ if isset .Params "image" }}
        <img src="{{ .Params.image | absURL}}" />
        {{ if isset .Params "image_credit" }}
            <div class="image-credit">
                <span>Image credit: <a href="{{.Params.image_credit}}" target="_blank">{{ .Params.image_credit }}</a></span>
            </div>
        {{ end }}
    {{ end }}
{{ end }}
{{ define "main" }}
    <article class="post summary">
        <header>
            <h3>{{ .Title }}</h3><h4><small>{{ .FuzzyWordCount }} Words | {{ .Date.Format "Mon, Jan 2, 2006" }}</small></h4>
        </header>
    </article>
    <article class="post-body">
        {{ .Content }}
    </article>
{{ end }}
