<!DOCTYPE html>
<html>
<head>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "head.html" }}
</head>
<body>
    <nav class="header">
        <div class="nav-right">
            <div class="menu" id="main-menu">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL | absURL}}">{{ .Name }}</a>
                {{ end }}
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
                <div class="menu-social-icons">
                    <a href="https://github.com/jimah" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/thisisjimah" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://medium.com/@thisisjimhill" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/jamesahill0/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/jim-hill" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="mailto:jim@dammitjim.co.uk"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        {{ block "jumbotron" . }}
        {{ end }}
    </div>
    <div class="container">
        {{ block "main" . }}
        {{ end }}
        {{ block "footer" . }}
            {{ partial "footer.html" }}
        {{ end }}
    </div>
</body>
</html>