<meta name="viewport" content="width=device-width; initial-scale=1.0;" />
<meta charset="utf-8">
<title>{{ block "title" . }}{{ .Site.Title }} {{ end }}</title>
<link rel="stylesheet" href="{{ "css/main.css" | absURL }}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Fira+Mono|Merriweather:400,400i" rel="stylesheet">
<link rel="stylesheet" href="{{ "css/solarized-dark.css" | absURL }}">
<script src="{{ "js/header.js" | absURL }}"></script>
<script src="{{ "js/highlight.pack.js" | absURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
