{{ define "header-nav-left" }}
    <div class="home-nav"></div>
{{ end }}
{{ define "main" }}
    <div class="masthead">
        <img src="https://avatars2.githubusercontent.com/u/1707411?v=3&s=460"/>
        <h2>Jim Hill <small>Developer</small></h2>
    </div>
    <div class="block">
        <div class="blocktag"><h3>Who am I?</h3></div>
        {{ range .Site.RegularPages }}
            {{ if eq .Title "about" }}
                <p>{{ .Summary }}</p>
                <p>
                    <a href="/about">Read more</a>
                </p>
            {{ end }}
        {{ end }}
    </div>
    <div class="block">
        <div class="blocktag"><h3>Projects</h3></div>
        {{ range first 4 (where .Pages "Type" "project") }}
            {{ .Render "summary" }}
        {{ end }}
    </div>
    <div class="block">
        <div class="blocktag"><h3>Blog</h3></div>
        {{ range first 2 (where .Data.Pages "Type" "blog") }}
            {{ .Render "summary" }}
        {{ end }}
    </div>
{{ end }}